.backgroundImage:before{
/*     filter: blur(2px);
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20%; 
    width: 20%;
    background-image: url('../../assests/img/backgroundLogin.png');
    background-size: cover;
    z-index: -1;
    -webkit-transform: scale(5);
    -webkit-transform-origin: top left; */
    background-color: rgb(242, 242, 242);
}
